.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Header and Navbar container */
.header-navbar-container {
  display: flex;
  justify-content: center; /* Center the header */
  align-items: center; /* Center vertically */
  width: 100%;
}

/* Header styles */
header {
  text-align: center;
  background-color: transparent; /* Transparent background */
  padding: 20px;
  flex-grow: 1; /* Allow header to grow */
}

/* Navbar styles */
.navbar-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.navbar {
  background-color: #007bff; /* Blue background for navbar */
  padding: 10px 20px;
  border-radius: 5px;
}
